<div class="row">
    <form [formGroup]="fGroup" class="col s12">
        <!-- Sección de información común -->
        <div class="row">
            <div class="input-field col s3">
                <input formControlName="primerNombre" id="primerNombre" type="text" class="validate" />
                <label for="primerNombre">Primer Nombre</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="segundoNombre" id="segundoNombre" type="text" class="validate" />
                <label for="segundoNombre">Segundo Nombre</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="primerApellido" id="primerApellido" type="text" class="validate" />
                <label for="primerApellido">Primer Apellido</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="segundoApellido" id="segundoApellido" type="text" class="validate" />
                <label for="segundoApellido">Segundo Apellido</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input formControlName="correo" id="email" type="email" class="validate" />
                <label for="email">Correo</label>
            </div>
            <div class="input-field col s4">
                <input formControlName="telefono" id="telefono" type="text" class="validate" />
                <label for="telefono">Teléfono Celular</label>
            </div>
        </div>

        <!-- Sección de tipo de usuario -->
        <div class="row">
            <div class="col s12">
                <label>Tipo de usuario</label>
                <p>
                    <label>
                        <input name="tipoUsuario" type="radio" value="pasajero" formControlName="tipoUsuario" />
                        <span>Pasajero</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="tipoUsuario" type="radio" value="conductor" formControlName="tipoUsuario" />
                        <span>Conductor</span>
                    </label>
                </p>
            </div>
        </div>

        <!-- Sección de información específica de pasajero -->
        <div *ngIf="fGroup.get('tipoUsuario')?.value === 'pasajero'">
            <h5>Contacto de Emergencia</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input formControlName="nombreContactoEmergencia" id="nombreContactoEmergencia" type="text"
                        class="validate" />
                    <label for="nombreContactoEmergencia">Nombre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input formControlName="telefonoContactoEmergencia" id="telefonoContactoEmergencia" type="text"
                        class="validate" />
                    <label for="telefonoContactoEmergencia">Teléfono</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Medio de pago</label>
                    <select formControlName="medioPago">
                        <!-- Verificar si hay opciones de medio de pago antes de iterar -->
                        <option *ngFor="let opcion of opcionesDeMedioDePago" [value]="opcion.id">{{ opcion.nombre }}</option>
                        <!-- O proporcionar un mensaje o lógica alternativa si no hay opciones -->
                        <option *ngIf="opcionesDeMedioDePago.length === 0" disabled>No hay opciones disponibles</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="button" (click)="Registrarse('pasajero')">
                        Registrarse
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sección de información específica de conductor -->
        <div *ngIf="fGroup.get('tipoUsuario')?.value === 'conductor'">
            <div formGroupName="vehiculo">
                <h5>Vehículo</h5>
                <div class="row">
                    <div class="col s6">
                        <label>Matrícula</label>
                        <input type="text" formControlName="matricula">
                    </div>
                    <div class="col s6">
                        <label>Modelo</label>
                        <input type="text" formControlName="modelo">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label>Marca</label>
                        <input type="text" formControlName="marca">
                    </div>
                    <div class="col s6">
                        <label>Color</label>
                        <input type="text" formControlName="color">
                    </div>
                </div>
            </div>
            <div formGroupName="licencia">
                <h5>Vigencia</h5>
                <div class="row">
                    <div class="col s6">
                        <label>vigencia</label>
                        <input type="text" formControlName="vigencia">
                    </div>
                    <div class="col s6">
                        <label>restricciones</label>
                        <input type="text" formControlName="restricciones">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="button" (click)="Registrarse('conductor')">
                        Registrarse
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>



        <!-- Botón para pasar a la siguiente sección -->
        <div *ngIf="seccionActual === 'tipoUsuario' && !mostrarBotonSiguiente" class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light" type="button" (click)="Siguiente()"></button>
            </div>
        </div>
    </form>
</div>