section{
    display: flex;
    flex-direction: column;
}

.frase{
    background-color: #5C5470;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-weight: bold;
}

.division{
    padding: 30px;
}

.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

@media (min-width: 768px) {
    section {
      display: flex;
      flex-direction: row;
    }
  
    .imagen {
      width: 50%;
    }

    .division {
        width: 50%;
        padding: 70px;
      }
  }

