<fieldset class="center container">
    <legend>Solicitar un viaje</legend>
    <div class="row">
        <form class="col s12" [formGroup]="fGroup">
            <div class="row">
                <div class="row">
                    <div class="row">
                        <div class="col s12">
                            <label for="puntoOrigen">Origen</label>
                            <div class="input-field">
                                <select formControlName="puntoOrigen" id="puntoOrigen" class="browser-default">
                                    <option value="" disabled selected>Seleccione punto de orígen</option>
                                    <option *ngFor="let opcion of opcionesPuntoOrigen" [value]="opcion.id">{{ opcion.nombreParada }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col s12">
                            <label for="puntoDestino">Destino</label>
                            <div class="input-field">
                                <select formControlName="puntoDestino" id="puntoDestino" class="browser-default">
                                    <option value="" disabled selected>Seleccione un punto de destino</option>
                                    <option *ngFor="let opcion of opcionesPuntoDestino" [value]="opcion.id">{{ opcion.nombreParada }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a routerLink="/parametros/solicitud-viaje-listar" class="btn red">Cancelar</a>&nbsp;
                        <button (click)="abrirModal()" class="btn waves-effect waves-light">Solicitar Viaje</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div *ngIf="mostrarModal" id="modalAceptarRechazar" class="modal">
        <div class="modal-content">
            <h4>Confirmar solicitud de viaje</h4>
            <p>¿Desea aceptar o rechazar la solicitud de viaje?</p>
            
            <!-- Mostrar el costo obtenido -->
            <p *ngIf="costoRutaMasCorta !== undefined">El costo de la ruta más corta es: {{ costoRutaMasCorta }}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" (click)="aceptarSolicitud()">Aceptar</a>
            <a routerLink="/parametros/solicitud-viaje-listar" class="modal-close waves-effect waves-red btn-flat">Rechazar</a>
        </div>
    </div>
</fieldset>
